<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/bec71f3f-32b5-41c5-bce6-758cc53f60d6/resourceGroups/BLINKAY_USA/providers/Microsoft.ContainerRegistry/registries/blinkay</ResourceId>
    <ResourceName>blinkay</ResourceName>
    <ResourceGroup>BLINKAY_USA</ResourceGroup>
    <Subscription>Blinkay USA Susbscription</Subscription>
    <RegistryUrl>https://blinkay.azurecr.io</RegistryUrl>
	<DockerfileContext>$(MSBuildProjectDirectory)\..</DockerfileContext>
    <PublishImageTag>v2</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>f16b8665-c504-48db-3cb4-280de0929bdc</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>